<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.mybatis01helloword.mapper.ordermapper">

    <resultMap id="orderRM" type="com.wx.mybatis01helloword.bean.order">
        <id column="id" property="id"></id>
        <result column="addres" property="address"></result>
        <result column="amount" property="amount"></result>
        <result column="customer_id" property="customerId"></result>
        <association property="customer" javaType="com.wx.mybatis01helloword.bean.customer">
            <id column="id" property="id"></id>
            <result column="customer_name" property="customerName"></result>
            <result column="phone" property="phone"></result>
        </association>
    </resultMap>
    <select id="oderandcustomer" resultMap="orderRM">
        SELECT o.*,c.id c_id ,c.customer_name,c.phone
            FROM t_order o
            LEFT JOIN t_customer c
            ON o.customer_id=c.id
            WHERE o.id=#{id}
    </select>
</mapper>